body {
  background-color: #efe7d4;
}
.big {
  background-color: #1a0088;
  color: #efe7d4;
  text-align: center;
  padding: 16px;
  border-radius: 0px;
}
.small {
  text-align: center;
  color: #1a0088;
  background-color: #b6cf4f;
  margin: 16px 500px;
  font-size: 25px;
  border-radius: 16px;
}
